.JoinPage{
    background-color: rgb(77, 150, 199);
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items:  center;
}
.JoinContainer{
    
    
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.JoinContainer >img {
    width: 5vmax;

}
.JoinContainer >h1{
    color: white;
    font-size: 2.5vmax;
    border-bottom: 0.2vmax solid white;
    width: 30vmax;
    text-align: center;
    font-family: 'Baloo Da 2', cursive;

}
#JoinInput{
    width: 20vmax;
    padding: 1vmax;
    border: none;
    outline: none;
    margin: 1.2vmax;
    box-sizing: border-box;
}
.JoinLogIn{
    width: 20vmax;
    padding: 1vmax;
    border: none;
    outline: none;
    font-size: 1.2vmax;
    background-color: aqua;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
}
.JoinLogIn:hover{
    background-color:red;
}